*{
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}
.mainContainer{
    flex: 0px;
}
.mainPic{

}
.TextContainer{

}
.title{

}
.paragraph{

}
.button{

}
.footer{
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}